build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.o
*.so
*.dylib

venv/
env/
__pycache__/
*.pyc
*.pyo
.python-version

mesh.txt
triangulation.txt
filtered_triangulation.txt
vizualization.py
contours.txt
*.png
*.svg
*.log